.ui-panelgrid td, .ui-panelgrid tr {
    border-style: none !important
}

.ui-datatable tbody td {
    white-space: normal;
    /*font-size: 12px;*/
}

.ui-datatable thead th {
    white-space: normal;
    font-weight: bold;
    /*font-size: 10px;*/
}

.ui-paginator {
    font-size: 12px !important;
}

.gmxAutoAjustable {
    min-width: 100%;
    max-width: 1200px;
}
/* :::::: ELIMINA ICONO MENSAJE :::::: */
.ui-growl-image {
    display: none !important;
    height: 0px;
    width: 0px;
}

.ui-growl-message {
    /*220 + 32*/

    width: 252px;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    display: none !important;
}
/* :::::: ELIMINA ICONO MENSAJE :::::: */
.myRad {
    text-align: right;
    font-size: 11px;
}

.myRad input {
    position: relative;
    width: auto;
    height: auto;
}