<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
       
    <!-- Version SOAP (De acuerdo al WS) -->
    <bean id="soapMessageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
        <property name="soapVersion">
            <util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_12"/>
        </property>
    </bean>
    
    <!-- XML Binders -->
    <oxm:jaxb2-marshaller id="marshallerBZ" contextPath="mx.gob.sat.mat.buzontrib.client"/>
    
    <!-- SPRING - Ws template -->
    <bean id="webServiceTemplateBZ" class="org.springframework.ws.client.core.WebServiceTemplate">
        <qualifier value="webServiceTemplateBZ"/>
        <constructor-arg ref="soapMessageFactory"/>
        <property name="marshaller" ref="marshallerBZ"/>
        <property name="unmarshaller" ref="marshallerBZ"/>
        <property name="defaultUri" value="http://99.90.29.84/wsBuzonTributario.Proxy/Terminos.asmx?WSDL"/>
    </bean>

    <!-- SPRING - Beans manejados -->    
    <bean id="buzonTribServiceTest" class="mx.gob.sat.mat.buzontrib.service.impl.BuzonTribServiceTestImpl"/>
    <bean id="buzonTribWs" class="mx.gob.sat.mat.buzontrib.ws.impl.BuzonTribWsImpl"/>
</beans>