<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
                           http://www.springframework.org/schema/tx     
                           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd    
                           http://www.springframework.org/schema/context         
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd     
                           http://www.springframework.org/schema/util         
                           http://www.springframework.org/schema/util/spring-util-3.1.xsd">
       
    <util:properties id="conexionBD" location="file:///siat/dyc/configuraciondyc/parametrosdyc.properties" />
    <context:property-placeholder properties-ref="conexionBD"/>
    
    <bean id="dataSourceDYC" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="#{conexionBD['driverClassNameD']}"/>
        <property name="url" value="#{conexionBD['urlD']}"/>
        <property name="username" value="#{conexionBD['usernameD']}"/>
        <property name="password" value="#{conexionBD['passwordD']}"/>
    </bean>
    <bean id="jdbcTemplateDYC" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceDYC"></property>
    </bean>
    <bean id="namedParameterJdbcTemplateDYC" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSourceDYC"/>
    </bean>
    <bean id="transactionManagerAdminHistorico" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          scope="singleton">
        <property name="dataSource" ref="dataSourceDYC"/>
    </bean>
    <bean id="ruta" class="java.lang.String" factory-method="valueOf">
        <constructor-arg value="/siat/dyc/archivo.txt"/>
    </bean>
    
    
    <tx:annotation-driven transaction-manager="transactionManagerAdminHistorico" proxy-target-class="true" />
    
    <context:annotation-config/>
    <context:component-scan base-package="mx.gob.sat.siat.archivoshistorico"/>
    <context:component-scan base-package="mx.gob.sat.siat.dyc.dao"/>
    <context:component-scan base-package="mx.gob.sat.siat.dyc.util"/>
    <context:component-scan base-package="mx.gob.sat.siat.dyc.vistas"/>
    
</beans>